<h3><a class="btn btn-secondary" href="/menu"><i class="fa fa-home"></i> Menu</a> <a class="btn btn-secondary" href="/site"><i class="fa fa-plus"></i> Create New</a> Site List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SiteID</th>
            {{!-- <th>Email</th> --}}
            <th>Site Name</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.siteID}}</td>
            {{!-- <td>{{this.email}}</td> --}}
            <td>{{this.siteName}}</td>
            <td>{{this.address}}</td>
            <td>
                <a href="/site/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/site/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>